@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (prefers-color-scheme: light) {
        :root {
                --primary-color: #ffffff;
                --secondary-color: #e0e0e0;
                --ternary-color: #404040;

                --active-color: #047ff9; 
                
                --primary-text-color: var(--ternary-color);
                --secondary-text-color: var(--ternary-color);
        }
}

@media screen and (prefers-color-scheme: dark) {
        :root {
                --primary-color: #101010;
                --secondary-color: #202020;
                --ternary-color: #606060;

                --active-color: #85c9fc;
                
                --primary-text-color: #e0e0e0;
                --secondary-text-color: var(--primary-text-color);
        }
}

:root {
	font-family: "Roboto", Arial, sans-serif;
	font-optical-sizing: auto;
        font-weight: 500;
	font-style: normal;
	font-variation-settings: "wdth" 100;
        font-size: 1rem;

        color: var(--primary-text-color)
}

.window {
        min-height: 100vh;
	height: 100vh;
	width: 50%;

	position: fixed;
	top: 0;

	background-color: var(--primary-color);
}

.inline {
	display: flex;
        flex-direction: row;
}

.vertical-container {
	display: flex;
	flex-direction: column;
}

.entry-element {	
	display: block;

	height: auto;
	width: 90%;
	margin: 16px;
	padding-left: 16px;
        padding-bottom: 16px;

	border-radius: 8px;
	
	background-color: var(--primary-color);
}

.horizontal-line {
	height: 2px;
	width: 90%;

        margin-top: 16px;
	margin-bottom: 16px;

	background-color: var(--ternary-color);
}

.left {
	left: 0;
	float: left;
}

.center {
	right: 50%;
	margin-left: auto;
	margin-right: auto;
}

.right {
	right: 0;
	float: right;
}

.pad-by-width {
        padding-left: 5%;
}

.thin-font, .label-text, .error-text {
        font-weight: 300;
}

.bold-font, input[type=button], input[type=submit] {
        font-weight: 700;
}

.label-text {
	color: var(--secondary-text-color)
}

.error-text {
	color: red;
}

.scrollable {
	overflow: auto;
}

#set-password-container {
        height: 128px;
}

#entry-list-header, #entry-list-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

        height: 48px;

	padding-left: 16px;
        padding-right: 16px;
}

#entry-list-header {
        border-radius: 8px 0 0 0;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: var(--primary-color);

	background-color: var(--secondary-color);
	color: var(--secondary-text-color);
}

#entry-list-footer {
        background-color: var(--primary-color);
}

#entry-list {
	justify-content: flex-start;

	width: 100%;
        min-height: 64px;
        height: auto;

        border-radius: 0 0 0 8px;

	background-color: var(--secondary-color);
}

h1 {
        font-size: 3rem;
}

p {
	line-height: 12px;
}

input {
        min-height: 56px;
        height: 56px;

        margin: 8px;

        border-radius: 24px;
        border-style: solid;
        border-width: 2px;
        border-color: var(--ternary-color);

        transition-duration: 0.2s;
        color: var(--primary-text-color);
        background-color: transparent;
}

input[type=text], input[type=password] {
        width: 50%;

        padding-left: 16px;

        border-radius: 4px;

        &:active, &:focus {
                border-color: var(--active-color);

                outline: none;
                color: var(--active-color);
        }
}

input[type=button], input[type=submit] {
        width: 112px;

        &:hover {
                background-color: var(--secondary-color);
        }

        &:active {
                border-color: var(--active-color);

                outline: none;
                color: var(--primary-color);
                background-color: var(--active-color);
        }
}

.entry-input {
        min-height: 32px;
        height: 32px;

        margin: 0;
}

input[type=text].entry-input, input[type=password].entry-input {
        padding-left: 4px;
}

input[type=button].entry-input, input[type=submit].entry-input {
        border-radius: 4px;
}

main {
        flex: auto;
}

header, footer {
        width: 100%;
        
        flex: none;
}

header {
        top: 0;
}

footer {
        bottom: 0;
}
